<body>

<h1 class="edit">Editing Book</h1>

<div class="errors">
	<% if @book.errors.any? %>
  <div class="error_message_box">
    <div class="error_count">
    <h2 class="error_count_message"><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
    </div>

    <div class="error_message">
    <ul>
    <% @book.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  </div>
<% end %>
</div>


<%= form_with model: @book, url: book_path(@book.id), method: :patch do |book| %>

<div class="edit">
    <div class="create_box1">
    <%= book.label :title %>
    </div>
    <div class="create_box2">
    <%= book.text_field :title %>
    </div>
    <div class="create_box3">
    <%= book.label :body %>
    </div>
    <div class="create_box4">
    <%= book.text_area :body %>
    </div>
</div>

<div class="edit">
  <%= book.submit 'Update Book' %>
</div>
<div class="edit">
  <%= link_to "Show", book_path(@book.id) %>
  |
  <a href="/books">Back</a>
</div>

<% end %>

</body>